---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ko" transition:name="root" transition:animate="initial">
  <head>
    <Head
      title={title ? `${title} | ${SITE.TITLE}` : SITE.TITLE}
      description={description}
    />
  </head>
  <body>
    <Header />
    <main class="mt-[67px]">
      <slot />
    </main>
    <Footer />
    <PageFind />
  </body>
</html>
